<div class="ticket-page">
  <div class="container">
    <div class="header">
      <div class="edit">
        <span>تعديل</span>
        <div class="image">
          <img src="../assets/icons/edit.png" alt="">
        </div>
      </div>
      <div class="nticket">
        <span>تذكرة رقم #2342</span>
        <div class="image">
          <img src="../assets/icons/arrow-right.png" alt="">
        </div>
      </div>
    </div>

    <div class="card-chart">
      <app-card [@fadeToRightAnimation]></app-card>
      <app-charts [@fadeToLeftAnimation]></app-charts>
    </div>

    <div class="table">
      <app-table [@fadeToUpAnimation]></app-table>
    </div>

  </div>
</div>